
extends ../application

block title
	| Password Reset

block document
	.pamphlet.paper
		.section.section-header
			h3 
				.mega-octicon-tab
					span.mega-octicon.octicon-key
				| Password Reset
		.section
			if passwordResetError
				.banner.banner-failure
					p 
						span.octicon.octicon-alert
						|  #{passwordResetError}
			if passwordResetSuccessful
				.banner.banner-inform
					p Your password has been reset, please check your email.
			form(method='post')
				.input-row
					label(for='email')
						span.octicon.octicon-mail
						|  Email address
					input#email.textbox(type='text', name='email', required, placeholder=fake.email, value=loginEmail)
				.input-row
					input.btn.btn-success(type='submit', value='Reset Password')
		.section
			p.details.
				A new temporary password will be sent to your email address.
				You can then login and change the password to something memorable, yet secure.
