
extends ../layout

block title
	| Page Not Found

block app
	.closure
		.container
			.pamphlet
				.error-message
					.section.tac
						h1
							span.mega-octicon-tab
								span.mega-octicon.octicon-alert
							|  The Vast Emptiness
						h2 HTTP 404 Not Found
						.mini
							p.
								Hey, you seemed to have landed on a non-existent or removed page.
