
footer
	.grid.grid-rigid
		.cell
			h4 Northwest Pennsylvania Collegiate Academy National Honor Society
			p Founded in 1998 as an official branch of the National Honor Society.
		.cell.rel
			img(src='/assets/images/nhs-emblem-white.png').logo-watermark
			h4 Contact our Society
			p
				a(href='mailto:npca.nhs@gmail.com') npca.nhs@gmail.com
			